body {
  background-color: rgb(58, 32, 82);
  color:blanchedalmond;
  font-family: 'Courier New', Courier, monospace;
}
.header {
  margin-left: 200px;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(84, 124, 159);
  font-size: 3em;
}

input::placeholder {
  font: 1.25rem/3 courier;
}

.done {
  text-decoration: line-through;
}

.element {
  margin-left: 200px;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(84, 124, 159);
  font-size: 2em;
}

.elementSmall {
  margin-left: 200px;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(84, 124, 159);
  font-size: 1em;
}

.list {
  margin-left: 200px;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(206, 206, 206);
  font-size: 1.5em;
  list-style-type: none;
}

.btn {
  margin-left: 200px;
  background-color:aquamarine;
  padding: 5px;
  border-radius: 3%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    border-bottom-left-radius: 3%;
  color: #007745;
  font-size: 1em;
  font-family: courier;
}
